.top-line {
    border-top: 1px solid black;
}



.img-f-scale {
    width: 460px;
}

.fixed-pos {
    position: fixed;
    top: 4vh;
    width: 23vw;
}

@media screen and (max-width: 1200px) {
    .fixed-pos {
        position: unset;
    }
}

@media screen and (max-width: 768px) {
    .img-scale {
        width: 100%;
    }


}